body {
  background-color: #f4eded;
  background-image: url(../img/bg_code.jpg);
  background-size: 300px 300px;
  font-family: "Trebuchet MS", "Lucida Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  min-width: 320px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
a {
  text-decoration: none;
  color: #1da57f;
}
a:hover,
a:focus {
  color: #28c95e;
}
.menu-websites li,
.menu-content li,
.menu-certificate li {
  margin-top: 10px;
}
.menu-websites > li {
  margin-top: 20px;
}
.menu > li {
  margin-bottom: 30px;
}
.arrow {
  list-style-image: url(../img/arrow.jpg);
}
.menu-certificate p {
  margin: 0;
  margin-bottom: 5px;
}
footer {
  padding-top: 20px;
}
.footer-link {
  margin: 0;
  padding: 0 0 10px 0;
  list-style: none;
}
.footer-link li {
  display: inline-block;
  margin-right: 15px;
}
.footer-link a {
  opacity: .6;
}
.footer-link a:hover {
  opacity: 1;
}
.copyright {
  font-size: 18px;
  margin: 0;
}
.copyright img {
  position: relative;
  top: 4px;
}
