html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 1146px;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.features-list li::before,
.map-close::before,
.map-close2::after,
.info-part li:first-child::before,
a.sub-new::after,
.footer-line::before {
  content: "";
  position: absolute;
}
.reset-list {
  margin: 0;
  padding: 0;
}
body {
  background-color: #849d8f;
  font-family: Roboto, Arial, sans-serif;
  color: white;
}
.body-bg {
  background-image: url("../img/ice_raspberries_bar_slide1.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 20;
}
.logo {
  width: 160px;
  margin-top: 9px;
  z-index: 5;
}
.container {
  width: 1200px;
  margin: 0 auto 20px;
  padding: 0 27px;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.main-menu {
  position: relative;
  max-width: 700px;
  margin: 23px 0px 0px 7px;
  z-index: 7;
}
.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}
.main-menu a {
  display: block;
  margin: 7px 11px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.main-menu a,
.main-menu li:first-child {
  font-size: 16px;
  line-height: 1.125;
  font-weight: 700;
  color: white;
}
.main-item {
  margin-right: 6px;
}
.main-menu li:not(.sub-menu-current):hover {
  background-color: white;
  border-radius: 20px;
}
.sub-menu.sub-hover {
  display: none;
}
.main-item:hover .sub-menu.sub-hover,
.main-item:focus .sub-menu.sub-hover {
  display: block;
}
.main-menu .catalog-current {
  margin: 0;
  padding: 8px 14px;
  border-bottom: none;
  border-radius: 16px;
  background-color: #d07058;
  cursor: pointer;
}
.main-item .catalog-current:hover {
  color: #ffffff;
}
.user-data .search-site:hover,
.user-data .login:hover,
.user-data .user-basket:hover {
  background-color: white;
}
.login svg {
  fill: white;
}
.search-site svg,
.user-basket svg {
  fill: #fff;
}
.search-site:hover svg,
.login:hover svg,
.user-basket:hover svg {
  fill: #323232;
}
.main-item:hover a,
.user-data .user-basket:hover,
.user-data .login:hover {
  color: black;
  text-decoration: none;
}
.main-item:active {
  -webkit-box-shadow: inset 0 2px 1px #696969;
  box-shadow: inset 0 2px 1px #696969;
}
.sub-menu a:not(.link-current):hover {
  background-color: #fbded7;
}
.sub-menu a:active {
  background-color: #f6b5a5;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.sub-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 37px;
  left: -10px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.sub-menu .sub-new {
  font-weight: 700;
}
a.sub-new::after {
  left: 6px;
  right: 9px;
  top: 37px;
  border-bottom: solid 1px #d1d0ce;
}
.sub-menu .sub-new {
  padding: 12px 21px;
}
.sub-menu a {
  display: block;
  color: #323232;
  margin: 0;
  padding: 9px 21px 8px;
  border-bottom: none;
  font-size: 14px;
  line-height: 1.142;
  font-weight: 400;
}
.sub-menu .sub-melorin {
  padding-top: 8px;
  padding-bottom: 12px;
}
.sub-menu a:active {
  background-color: #f6b5a5;
}
.sub-new:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.sub-melorin:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.sub-menu-current {
  background-color: #d07058;
}
.sub-menu a.link-current {
  color: white;
}
.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 270px;
  margin: 29px 0px 0px auto;
  z-index: 5;
}
.user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
} 
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search,
.login-site,
.basket {
  position: relative;
}
.user-data .popup-search {
  display: none;
  position: absolute;
  top: 30px;
  right: 8px;
  width: 341px;
  height: 84px;
  border-radius: 5px;
  background-color: #f8f7f4;
  padding: 20px 15px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
.search-site:hover + .popup-search,
.search-site:focus + .popup-search,
.login:hover + .popup-login-form,
.login:focus + .popup-login-form {
  display: block;
}
.user-data input[type="text"] {
  width: 311px;
  height: 44px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  border-radius: 5px;
  padding-left: 15px;
}
.popup-login-form {
  display: none;
  position: absolute;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  top: 30px;
  right: 10px;
  width: 277px;
  height: 214px;
  padding: 20px 18px;
  border-radius: 5px;
  z-index: 7;
}
.popup-login input[type="email"],
.popup-login input[type="password"] {
  width: 241px;
  height: 44px;
  padding: 10px 40px 10px 15px;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
  border-radius: 5px;
}
.popup-login input[type="email"],
.popup-login input[type="password"] {
  margin-bottom: 15px;
}
.popup-login-form input[type="submit"] {
  min-width: 100px;
  height: 44px;
  margin-right: 20px;
  border: 0;
  border-radius: 20px;
  background-color: #e84d37;
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.333;
}
.popup-login-form a {
  color: #323232;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.846;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}
.popup-autorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.user-data input[type="text"]:hover,
.popup-login input[type="email"]:hover,
.popup-login input[type="password"]:hover,
.modal-feedback input[type="text"]:hover,
.modal-feedback input[type="email"]:hover,
.modal-feedback textarea:hover,
.subscribe input[type="email"]:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}
.user-data input[type="text"]:focus,
.popup-login input[type="email"]:focus,
.popup-login input[type="password"]:focus,
.modal-feedback input[type="text"]:focus,
.modal-feedback input[type="email"]:focus,
.modal-feedback textarea:focus,
.subscribe input[type="email"]:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}
.user-block .search-site {
  padding: 5px 14px 8px 17px;
  background-color: #9db1a5;
  border-radius: 50%;
}
.search-site svg {
  position: absolute;
  top: 1px;
  left: 7px;
}
.user-block .search-site,
.user-block .login {
  margin-right: 10px;
}
.user-block .login,
.user-block .user-basket {
  padding: 7px 15px 8px 44px;
  font-size: 14px;
  line-height: 1.142;
  font-weight: 500;
  background-color: #9db1a5;
  border-radius: 20px;
  color: white;
}
.user-block .user-basket-red {
  padding: 7px 15px 8px 44px;
  font-size: 14px;
  line-height: 1.142;
  font-weight: 500;
  background-color: #f8f7f4;
  border-radius: 20px;
  color: #323232;
}
.login svg,
.user-basket svg,
.user-basket-red svg {
  position: absolute;
  top: 0px;
  left: 16px;
}
.login a {
  background: url("../img/entrance.svg") no-repeat;
}
.popup-basket {
  display: none;
  position: absolute;
  padding-top: 12px;
  right: 0px;
  z-index: 10;
}
.basket-container {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 539px;
  min-height: 242px;
  padding-top: 21px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 13px;
  line-height: 1.23;
  color: #323232;
  text-align: right;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.popup-basket span {
  color: #999999;
}
.popup-basket b {
  display: block;
  margin-bottom: 28px;
  margin-right: -3px;
  text-align: right;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
}
.popup-basket img {
  border-radius: 50%;
}
.basket-button {
  width: 170px;
  padding: 12px 18px;
  border-radius: 23px;
  font-size: 18px;
  line-height: 1.333;
  color: #fefefe;
}
.button {
  background: #f26843;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f26843),
    to(#e74a35)
  );
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}
.basket-table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid #cacac7;
  margin-bottom: 14px;
}
.basket-table-item {
  min-height: 53px;
}
.cell {
  vertical-align: top;
  padding-top: 10px;
  text-align: center;
}
.column-1 {
  position: relative;
  width: 22px;
}
.column-2 {
  padding-top: 0;
  padding-bottom: 17px;
  width: 33px;
}
.basket-table-item:last-child .column-2 {
  padding-bottom: 21px;
}
.column-3 {
  text-align: left;
  padding-left: 11px;
}
.column-4 {
  width: 112px;
}
.column-5 {
  width: 82px;
}
.basket-table .popup-close::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 5px;
  width: 11px;
  height: 11px;
  background-image: url("../img/cross_small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.basket-table .popup-close:focus::before {
  border-color: #663d15;
  outline: thin dotted;
  outline: 2px auto -webkit-focus-ring-color;
}
.container.footer-line {
  padding-top: 10px;
}
.user-basket-red:hover + .popup-basket,
.user-basket-red:focus + .popup-basket {
  display: block;
}
.user-block .user-info {
  margin-top: 26px;
  text-align: right;
}
.user-info .phone {
  color: white;
}
.user-block p {
  margin: 0;
  font-size: 14px;
  line-height: 1.142;
  font-weight: 700;
  margin-bottom: 5px;
}
.user-block .phone {
  font-size: 22px;
  line-height: 1.09;
  font-weight: 700;
}
.site-wrapper {
  min-width: 940px;
  z-index: 5;
  margin-top: -141px;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}
.site-wrapper::before {
  background-image: url("../img/ice_chocolate_bar_slide2.png");
}
.site-wrapper::after {
  background-image: url("../img/ice_strawberry_bar_slide3.png");
}
.slider {
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: #ffffff;
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  display: none;
}
.slide-title {
  width: 700px;
  margin: 71px auto 27px;
  font-size: 60px;
  line-height: 1.005;
  font-weight: 700;
}
.button-slider {
  position: relative;
  top: 3px;
  display: inline-block;
  padding: 14px 41px;
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1, 375;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f26843),
    to(#e74a35)
  );
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}
.popup-login-form input[type="submit"]:hover,
.button-slider:hover,
.sel-button:hover,
.sel-button:hover,
.price-button:hover,
.subscribe button:hover,
.modal-feedback input[type="submit"]:hover,
.contacts-button:hover,
.basket-button:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f58669),
    to(#ec6f5e)
  );
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.popup-login-form input[type="submit"]:focus,
.button-slider:active,
.sel-button:active,
.sel-button:active,
.price-button:active,
.subscribe button:active,
.modal-feedback input[type="submit"]:focus,
.contacts-button:focus,
.basket-button:focus {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#d84732),
    to(#e1613e)
  );
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
  position: absolute;
  bottom: 42px;
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
.breadcrumbs {
  position: relative;
  margin: 0;
  margin-top: -44px;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 1.385em;
  color: #ffffff;
  z-index: 5;
}
.breadcrumbs li {
  margin-right: 7px;
}
.breadcrumbs a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.breadcrumbs a,
.breadcrumbs li:last-child {
  font-size: 14px;
  line-height: 1.142;
  font-weight: 400;
  color: white;
}
.breadcrumbs li:last-child {
  margin-top: 2px;
}
.breadcrumbs + h1 {
  font-size: 35px;
  line-height: 1.171;
  margin: 3px 0 28px 0;
}
.filters {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13em;
  margin-bottom: 40px;
}
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  min-height: 131px;
  width: 860px;
}
.filter fieldset {
  padding: 0;
  border: none;
}
.filter legend {
  padding-left: 15px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
}
.filter-fat-wrapper,
.filter-filler-wrapper {
  padding: 9px 14px;
  background-image: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
.filter-select-wrapper {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  background-image: url("../img/select_arrow.svg");
  background-repeat: no-repeat;
  background-position: 168px 16px;
  border-radius: 20px;
}
.filter-select {
  width: 193px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 34px 9px 14px;
  cursor: pointer;
  font: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 20px;
}
.filter-select::-ms-expand {
  display: none;
}
.filter-select-wrapper:hover,
.filter-select-wrapper:focus {
  cursor: pointer;
  color: #323232;
  background-color: #ffffff;
}
.filter-select:hover,
.filter-select:focus {
  color: #323232;
  background-image: url("../img/select_arrow_black.svg");
  background-repeat: no-repeat;
  background-position: 168px 16px;
  background-color: #ffffff;
  outline: none;
}
.filter-select option {
  font-weight: 500;
}
.filter-range {
  width: 220px;
  height: 36px;
  background-image: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
.range-controls {
  position: relative;
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
}
.range-controls .scale {
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
}
.range-controls .bar {
  width: 118px;
  height: 4px;
  margin-left: 13px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 23px;
  top: 8px;
  background-image: url("../img/filter_button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.range-toggle-min {
  left: 33px;
}
.range-toggle-max {
  left: 131px;
}
.range-toggle:hover,
.range-toggle:focus {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}
.filter-fat {
  width: 415px;
}
.filter-fat-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.filter-radio {
  position: relative;
  padding-left: 31px;
  cursor: pointer;
}
.filter-input-radio + .radio-indicator {
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 5;
  width: 22px;
  height: 22px;
  opacity: 0.8;
  background-image: url("../img/radio_off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.filter-input-radio:checked + .radio-indicator {
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 5;
  width: 22px;
  height: 22px;
  opacity: 0.8;
  background-image: url("../img/radio_on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.filter-input-radio:hover + .radio-indicator,
.filter-input-radio:checked:hover + .radio-indicator {
  opacity: 1;
}
.filter-input-radio:focus + .radio-indicator,
.filter-input-radio:checked:focus + .radio-indicator {
  opacity: 1;
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.filter-input-radio:disabled + .radio-indicator,
.filter-radio-disabled {
  cursor: default;
  opacity: 0.4;
}
.filter-filler {
  width: 703px;
}
.filter-filler-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 9px 20px 9px 16px;
}
.filter-checkbox {
  position: relative;
  padding-left: 33px;
  cursor: pointer;
}
.filter-input-checkbox + .checkbox-indicator {
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 5;
  width: 20px;
  height: 20px;
  opacity: 0.8;
  background-image: url("../img/checkbox_off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.filter-input-checkbox:checked + .checkbox-indicator {
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 5;
  width: 23px;
  height: 20px;
  opacity: 0.8;
  background-image: url("../img/checkbox_on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.filter-input-checkbox:hover + .checkbox-indicator,
.filter-input-checkbox:checked:hover + .checkbox-indicator {
  opacity: 1;
}
.filter-input-checkbox:focus + .checkbox-indicator,
.filter-input-checkbox:checked:focus + .checkbox-indicator {
  opacity: 1;
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.filter-input-checkbox:disabled + .checkbox-indicator,
.filter-checkbox-disabled {
  cursor: default;
  opacity: 0.4;
}
.filter-button {
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 7px 27px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.13;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: none;
  border-radius: 20px;
  border: solid 2px #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.filter-button:hover,
.filter-button:focus {
  color: #323232;
  background-image: none;
  background-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.filter-button:active {
  color: #323232;
  background-image: none;
  background-color: #ededed;
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
  box-shadow: inset 0px 2px 1px 0 #696969;
}
.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}
.sel-raspberry,
.sel-chocolate {
  width: 560px;
  min-height: 229px;
  border-radius: 15px;
}
.sel-raspberry {
  background: #b60329 url("../img/raspberries_free.png");
  position: relative;
}
.sel-chocolate {
  background: #5e361f url("../img/chocolate_free.png");
  position: relative;
}
.raspberry-heading,
.chocolate-heading {
  font-size: 35px;
  line-height: 1.171;
  font-weight: 700;
  margin: 16px 19px;
}
.raspberry-text,
.chocolate-text {
  font-size: 18px;
  line-height: 1.222;
  font-weight: 700;
  margin: 17px 20px 57px;
}
.sel-raspberry .sel-button,
.sel-chocolate .sel-button {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 160px;
  right: 21px;
  padding: 12px 23px 13px 22px;
  border-radius: 23px;
  opacity: 0.99;
}
.sel-raspberry a,
.sel-chocolate a {
  font-size: 18px;
  line-height: 1.222;
  font-weight: 700;
  background-color: #f06542;
  color: white;
}
.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 49px;
}
.price-item {
  width: 267px;
  text-align: center;
  position: relative;
}
.hit-item::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 61px;
  height: 61px;
  background: white url("../img/hit.svg");
  border-radius: 50%;
}
.price img {
  border-radius: 50%;
}
.price h2 {
  margin: 6px 0 9px 0;
  line-height: 0.8;
}
.price-goods {
  position: absolute;
  top: 164px;
  left: -1px;
  font-size: 45px;
  line-height: 1;
  font-weight: 700;
  color: white;
}
.price-goods span::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 82px;
  width: 31px;
  height: 36px;
  background: url("../img/ruble.svg");
}
.price-goods span {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 700;
  color: white;
  padding-left: 35px;
}
.price-heading a {
	position: relative;
  font-size: 16px;
  line-height: 1.375;
  font-weight: 500;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	z-index: 2;
}
.price-button {
  display: none;
  position: absolute;
  left: 35px;
  color: white;
  font-size: 18px;
  line-height: 1.222;
  padding: 11px 19px;
  border-radius: 23px;
  background-color: #e84d37;
	z-index: 2;
}
.price-item:hover::after,
.price-item:focus::after {
	margin-bottom: -72px;
	padding-bottom: 72px;
	content: "";
	position: absolute;
	top: -5px;
	left: -13px;
	width: 293px;
	min-height: 405px;
	background-color: rgba(248, 247, 244, 0.2);
	-webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	z-index: 1;
}
.price-item:hover .price-button,
.price-item:focus .price-button {
  display: block;
}
.features-block {
	padding-top: 25px;
	padding-left: 20px;
	margin-top: -21px;
	margin-bottom: 40px;
	width: 1146px;
	min-height: 306px;
	background: #f1e5cb url("../img/features_bg.jpg");
	border-radius: 15px;
}
.features-block p:first-child {
	margin: 0;
	font-size: 24px;
	line-height: 1.25;
	font-weight: 500;
	color: #323232;
}
.features-block ul {
  font-size: 16px;
  line-height: 1.375;
  font-weight: 500;
  color: #323232;
  list-style: none;
}
.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.features-list li {
  position: relative;
  width: 49%;
  padding-left: 55px;
  padding-top: 22px;
}
.features-list li:last-child {
  padding-bottom: 0;
}
.features-list li::before {
  top: 8px;
  left: 0px;
  width: 49px;
  height: 49px;
}
.features-list li:nth-child(1):before {
  background: url("../img/ice_cream.svg") no-repeat;
}
.features-list li:nth-child(2):before {
  background: url("../img/cow.svg") no-repeat;
}
.features-list li:nth-child(3):before {
  background: url("../img/eco.svg") no-repeat;
}
.features-list li:nth-child(4):before {
  background: url("../img/thermometer.svg") no-repeat;
}
.features-list li:nth-child(2n) {
  padding-left: 63px;
}
.features-list li:nth-child(2n)::before {
  left: 5px;
}
.user-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 220px;
  margin-bottom: 40px;
}
.blog {
  width: 560px;
  padding: 23px 21px;
  background: url("../img/blog_bg.png");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 100% 40%;
  border-radius: 15px;
}
.blog p {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.375;
  margin: 0;
  margin-bottom: 5px;
}
.blog h3 {
  margin: 0;
  width: 285px;
}
.blog a {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  text-decoration: underline;
}
.subscribe {
  width: 560px;
  background-image: -webkit-repeating-linear-gradient(
    315deg,
    transparent 0,
    transparent 6.855px,
    #92cdff 6.855px,
    #92cdff 13.71px,
    transparent 13.71px,
    transparent 20.565px,
    #fe9e90 20.565px,
    #fe9e90 27.42px
  );
  background-image: -o-repeating-linear-gradient(
    315deg,
    transparent 0,
    transparent 6.855px,
    #92cdff 6.855px,
    #92cdff 13.71px,
    transparent 13.71px,
    transparent 20.565px,
    #fe9e90 20.565px,
    #fe9e90 27.42px
  );
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 6.855px,
    #92cdff 6.855px,
    #92cdff 13.71px,
    transparent 13.71px,
    transparent 20.565px,
    #fe9e90 20.565px,
    #fe9e90 27.42px
  );
  background-color: #f8f7f4;
  border-radius: 15px;
  padding: 5px;
}
.subscribe-container {
  background-color: #f8f7f4;
  min-height: 210px;
  border-radius: 15px;
}
.subscribe p {
  margin: 0;
  padding: 27px 20px;
  font-size: 16px;
  line-height: 1.375;
  font-weight: 400;
  color: #5a5a5a;
}
.subscribe form {
  margin: 8px 0 0 20px;
  padding-bottom: 30px;
  border: none;
}
.subscribe input[type="email"] {
  width: 368px;
  height: 44px;
  border-radius: 5px;
  border: 0;
  -webkit-box-shadow: 0 0 0 1px #b3b3b3;
  box-shadow: 0 0 0 1px #b3b3b3;
  padding: 5px 10px;
  margin-right: 7px;
}
.subscribe button {
  min-width: 129px;
  min-height: 44px;
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.333;
  border: 0;
  border-radius: 23px;
}
.map {
	min-width: 1200px;
	height: 430px;
	background-color: #ebe5cc;
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	background-position: -25px 0;
	background-size: cover;
	margin-bottom: 10px;
}
.modal-feedback {
	display: none;
	position: fixed;
	top: 30%;
	left: 35%;
	width: 478px;
	height: 443px;
	padding: 20px 24px;
	background-color: #f8f7f4;
	border-radius: 10px;
	color: #323232;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.166;
}
@-webkit-keyframes bounce {
	0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
	70% { -webkit-transform: translateY(30px); transform: translateY(30px); }
	90% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
	100% { -webkit-transform: translateY(0); transform: translateY(0); }
}
@keyframes bounce {
	0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
	70% { -webkit-transform: translateY(30px); transform: translateY(30px); }
	90% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
	100% { -webkit-transform: translateY(0); transform: translateY(0); }
}
.modal-show {
	display: block;
	-webkit-animation-name: bounce;
	        animation-name: bounce;
	-webkit-animation-duration: 0.6s;
	        animation-duration: 0.6s;
}
.modal-feedback input[type="text"] {
  margin-top: 24px;
}
.modal-feedback input[type="text"],
.modal-feedback input[type="email"] {
  margin-bottom: 20px;
  border-radius: 5px;
  width: 267px;
  height: 44px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  padding: 16px 15px;
  background-color: #ffffff;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.modal-feedback textarea {
  margin-bottom: 25px;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding: 13px 15px;
  border-radius: 5px;
}
.modal-feedback input[type="submit"] {
  min-width: 139px;
  min-height: 44px;
  margin-left: 65%;
  background-color: #e84d37;
  color: #fefefe;
  border: 0;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.333;
}
.map-close {
  position: absolute;
  top: 16px;
  right: 17px;
  width: 18px;
  height: 17px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.map-close::before,
.map-close::after {
  top: 16px;
  left: 0px;
  width: 18px;
  height: 2px;
  background-color: black;
}
.map-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.map-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.map-contacts {
	position: absolute;
	right: 0px;
	top: 62px;
	width: 302px;
	min-height: 305px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 30px;
	padding-left: 25px;
	font-size: 14px;
	line-height: 1.428;
	color: #323232;
	background-color: #fff;
	border-radius: 15px;
}
.map-contacts p {
  margin: 0;
  margin-bottom: 16px;
}
.map-contacts b {
  display: block;
  padding-top: 4px;
  padding-bottom: 2px;
  font-size: 18px;
  line-height: 1.333;
  font-weight: 700;
}
.contacts-button {
  position: absolute;
  bottom: 32px;
  padding: 10px 28px;
  border-radius: 23px;
  color: #fefefe;
  font-size: 18px;
  line-height: 1.333;
  font-weight: 700;
}
.map-container {
	position: relative;
	width: 1146px;
	margin: 0 auto;	
}
.map iframe {
	width: 100%;
	height: 430px;
	border: 0;
}
.pagination-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 167px;
  padding: 0;
  margin: 43px -27px -2px auto;
  list-style: none;
}
.pagination-item a {
  display: inline-block;
  width: 27px;
  height: 27px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 4px;
  margin-right: 2px;
  vertical-align: bottom;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
}
.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
.pagination-item a:active {
  color: #323232;
  background-color: #ffffff;
}
.pagination-item-current a {
  color: #323232;
  background-color: #ffffff;
}
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #323232;
  background-color: #ffffff;
}
.pagination-item-prev::before {
  content: "";
  pointer-events: none;
  cursor: default;
  position: absolute;
  top: 10px;
  left: -21px;
  width: 7px;
  height: 7px;
  background-color: transparent;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.pagination-item-next::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 7px;
  height: 7px;
  background-color: transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.footer-line::before {
  top: -11px;
  height: 1px;
  width: 1146px;
  background-image: url("../img/footer_line.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 186px;
  margin-right: 130px;
  padding-top: 25px;
}
.footer-social ul,
.footer-info ul {
  list-style: none;
}
.footer-social li:not(:last-child) {
  margin-right: 11px;
}
.social-link {
  display: inline-block;
  vertical-align: top;
  width: 38px;
  height: 38px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.8;
}
.social-link:hover,
.social-link:focus {
  opacity: 1;
  border: 3px solid rgba(255, 255, 255, 0.7);
}
.social-link:active {
  opacity: 0.7;
  border: 3px solid rgba(255, 255, 255, 0.7);
}
.footer-info {
  position: relative;
  margin-left: 85px;
  margin-top: 22px;
}
.footer-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 400px;
  padding-left: 15px;
  padding-right: 5px;
}
.footer-info a {
  font-size: 13px;
  line-height: 1.384;
  font-weight: 400;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-info .heart {
  font-weight: 700;
}
.info-part li:first-child::before {
  top: 4px;
  left: -1px;
  width: 16px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.popup-login-form a:focus,
.popup-login-form a:hover,
.popup-autorization a:focus,
.popup-autorization a:hover,
.price-item a:first-child:focus,
.price-item a:first-child:hover,
.blog a:focus,
.blog a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:hover,
.footer-info a:focus,
.footer-info a:hover,
.copyright a:focus,
.copyright a:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}
.info-part li:nth-child(1),
.info-part li:nth-child(3) {
  padding-left: 6px;
  padding-bottom: 4px;
  width: 39%;
}
.info-part li:nth-child(2),
.info-part li:nth-child(4) {
  width: 50%;
}
.footer-logo {
  width: 265px;
  margin-left: 155px;
  margin-top: 8px;
}
.logotip svg {
  fill: white;
}
.logotip:hover svg {
  fill: #ffbc9e;
}
.copyright,
.copyright a {
  margin: 0;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  color: white;
}
.copyright a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
